{% extends 'main.html' %}
{% load static %}
{%block content %}


<link rel="stylesheet" href="{%static 'css/signup.css'%}">

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>About Us</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}">Home</a>
                        <span>Sign up</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div class="container">
<div class="d-flex justify-content-center">
        <form action="{% url 'register' %}" method="post" class="form">
          {% csrf_token %}
            <span class="top-text">Sign Up</span>
           <input type= "text" placeholder="First Name" name="first_name" class="firstname">
          <input type= "text" placeholder="Last Name" name="last_name" class="lastname">
            <input type="text" placeholder="Username" name="username" class="username">
          <input type="email" placeholder="Enter your Email" name="email" class="email">
            <input type="password" placeholder="Enter new Password" name="password" class="password">
         <input type="password" placeholder="Enter Password Again" name="confirm_pw" class="password">
            <input type="submit" class="submit" value="Submit">
        </form>
    </div>
    </div>

    {% endblock %}