{% extends 'main.html' %}
{% load static %}
{%block content %}


<title>Sign In</title>
   
    <link rel="stylesheet" href="{% static '/css/signin.css'%}">

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Login</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}">Home</a>
                        <span>Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!--Login Section-->
<div class="container">
    <div class="d-flex justify-content-center">
        <form action="{% url 'login' %}" method="post" class="form">
            {% csrf_token %}
            <span class="top-text">Login</span>
            <input type="text" name="username" placeholder="Username" class="username">
            <input type="password" name="password" placeholder="Password" class="password">
            <input type="submit" class="submit" value="Submit">
            
        </form>
    </div>
    </div>


{% endblock %}